@font-face {
    font-family: OpenSans ;
    src: url(OpenSans_Condensed-Light.ttf);
}
.sticky-top{
    position: fixed !important;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: OpenSans;
}
.banner{
    height: 100% !important;
}
.body{
    overflow-x: hidden;
}
.navbar{
    width: 100%;
    background-color: black;
}
.nav-item{
    padding-right: 26px;
    font-size: 18px;
}
.navbar-toggler {
    padding: initial !important;
} 
.topright{
    width: 1.5rem;
}
.banner{
    width: 100%;
}
.heading{
    
    font-size: 43px;
    font-family: sans-serif;
    /* margin-bottom: 50px; */
}
.our-products{
    padding: 5% 0px;
}
.inner-product img{
    width: 100%;
    cursor: pointer;
}
.inner-product{
    padding-top: 3.25em;
}
footer{
    background-color: rgb(0,0,0);
    height: 210px;
}
.footer-inner img{
    width: 150px;
    padding-top: 20px;
    cursor: pointer;
}
.footer-inner h4 {
    color: #be9509;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    padding-top: 20px;
}
.footer-inner p{
    font-size: 16px;
    color: #be9509;
    margin: 0;
    cursor: pointer;
}
.footer-inner span img{
    width: 30px;
}
.footer-inner span{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.waicon img{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    text-align: center;
    z-index: 10000;
}
.final-footer-work{
    background-color: #000;
    border-top: solid 1px #666;
    margin: 0;
    padding: 0 20px;
    color:#ffc107; 
    font-size: 16px;
}
@media screen and (max-width: 768px){
.navbar-brand img{
    width: 80px !important;
    margin-right: 10px;
}
}